@use "./assets/styles/mixins.scss";
@use "./assets/styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
*:before,
*:after {
  box-sizing: inherit;
  // letter-spacing: 0.05em;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

h1,h2,p {
  width: fit-content;
}

body {
  margin: 0;
  font-family: cursive, Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  width: 100%;
  height: variables.$box-height;
  background-color: variables.$green;
  border: unset;
  @include mixins.box-shadow;
  color: variables.$white;
  font-weight: 600;
  letter-spacing: 0.1em;
  border-radius: variables.$border-radius;
}

button:hover {
  background-color: darken(variables.$green, 5%);
}

button:active {
  background-color: darken(variables.$green, 10%);
}
