$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%);
$gray-blue: hsl(246, 25%, 77%);
$white: hsla(0, 60%, 95%, 0.911);
$border-radius: 6px;
$box-min-width: 275px;
$box-height: 55px;